# Ignore Chromadb
chroma/

# Ignore crawled data
crawled_data.txt

# Ignore sitemap crawl status
sitemap_crawl_status.txt

# Ignore Python cache files
__pycache__/

# Ignore environment files
.env
env/

# Project-specific ignores
app1.py
sites_metadata.json